@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 91px;
}
.header__text{
    margin-left: auto;
    color: #546e7a;
    font-size: 15px;
}
.header__text-link{
    color: $red;
}
.header__user-panel{
    margin-left: 25px;
}
.header__top-btn{
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    min-width: 72px;
    text-align: center;
}
.header__tel{
    color: #546e7a;
}
.header__button-login{
    background-color: $red;
}
.header__button-register{
    background-color: $green;
    margin-left: 7px;
}
.header__bottom{
    background-color: $bg;
    a{
        color: #fff;  
        font-size: 14px;
        margin: 22px 36px 22px 0;
    }
}

// end header
// start search

.search{
    min-height: 530px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.search__inner{
    text-align: center;
    color: #fff;
    padding: 155px 0 100px 0;
    &-title{
        font-size: 48px;
        padding-bottom: 10px;
        @include f700;
        line-height: 72px;
    }    
    &-text{
        font-size: 20px;
        margin-bottom: 50px;
        @include f500;
        line-height: 30px;
    }   
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            @include f500;
            font-size: 14px;
            outline: none; 
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder{
                color:#90a4ae;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right:20px;
            top: 17px;
        }        
    }
}

// end search
// start products

.products{
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    border: none;
    margin-bottom: 60px;
    button{
        padding: 10px 20px;
        border: none;
        font-size: 14px;
        color: $bg;
        background-color: #fff;
        cursor:pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color:#fff;
            outline: none;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    background-color: #fff;
    line-height: 24px;
    &-img{
        min-height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block; 
    }
    &-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px; 
    }
    &-title{
        display: block;
        font-size: 18px;
        color:$bg;
    }
    &-category{
        display: block;
        font-size: 14px;
        color:$green;
    }
    &-price{
        font-size: 20px;
        color:$bg;
        @include f700;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.avatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
    min-height: 68px;
}
.products__bottom-btn{
    text-align: center;
    button{
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        &.mixitup-control-active{
            background-color: $red;
            color:#fff;
            outline: none;
        }
    }
}
.product__item-star{
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        font-size: 12px;
    }
}
.rate-star{
    width: 70px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 15px;
    display: inline-block;
}
// end products
// start product-slider

.product-slider{
    padding: 110px 0px 120px;
    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        li{
            margin: 0px 3px;
            border-radius: 50%;
            font-size: 0;
            height: 16px;
            width: 16px;
            background-color: #e8e8e8;
            cursor: pointer;
            &.slick-active{
                background-color: $green;
            }
        }
        button{
            display: none;
        }
    }    
}
// end product-slider
// start advantages
.advantages{
    background-color: $bg;
    padding: 100px 0px;

}
.advantages__title{
    text-align: center;
    @include f700;
    color: #fff;
    margin-bottom: 90px;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    max-width: 370px;
    text-align: center;
    padding: 0px 15px;
    &:hover{
        .advantages__item-img{
            background-color: $green;
        }
        .advantages__item-title{
            color: $green;
        }
        .advantages__item-img{
            g{
                fill: #fff;
            }
        }
    }
    &-img{
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .5s;
    }
    &-title{
        color: #fff;
        font-size: 24px;
        @include f500;
        margin-bottom: 25px;
        transition: all .5s;
    }
    &-text{
        font-size: 15px;
        color:$text;
    }
}
.gift-img{
    svg{    
        width: 70px;
    }
}
.lock-img{
    svg{    
        width: 50px;
    }
}
.heart-img{
    svg{    
        width: 80px;
    }
}
// end advantages
// start author
.author{
    padding: 250px 0px 288px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 750px;
}
.author__inner{
    max-width: 653px;
    min-height: 216px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 20px 60px;
    background-color: $green;
    &-text{
        display: inline-block;
        font-size: 30px;
        max-width: 270px;
        color:#fff;
        span{
            @include f700;
        }
    }
    a{
        display: inline-block;
        padding: 25px 43px;
        background-color: #fff;
        font-size: 18px;
    }
}
// end author
// start tutorial

.tutorial{
    background-color: #fff;
    padding: 70px 0px 120px;
    &__title{
        margin-bottom: 55px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        max-width: 370px;
        width: 100%;
        text-align: center;
        &-img{
            min-height: 270px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-text{
            font-size: 24px;
            @include f700;
            padding: 37px 10px 39px;
            background-color: #f8f8f8;
        }
    }

}
// end tutorial
// start footer
.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 110px 0px 90px;
    }
    &__col{
        max-width: 270px;
        width: 100%;
        &-title{
            color: #fff;
            font-size: 22px;
            font-family: 'Raleway', sans-serif;
            padding-bottom: 26px;
            margin-bottom: 33px;
            position: relative;
            &::before{
                content: '';
                width: 51px;
                height: 3px;
                position: absolute;
                background-color: $green;
                bottom: 0;
                left:0;
            }
        }
        &-text{
            color:#b7c3c8;
            margin-bottom: 30px;
            line-height: 24px;
        }
        &-info{
            color:#fff;
            margin-bottom: 20px;
            @include f500;
            padding-left: 30px;
            position: relative;
            &::before{
                content: '\f041';
                font-family: 'icomoon';
                font-size: 18px;
                color: $green;
                position: absolute;
                top:0;
                left: 0;
            }
        }
    }
    &__col-menu{
        max-width: 220px;
        width: 100%;  
    }
}
.footer__col-phone{
    &::before{
        content: '\f095';
    }
}
.footer__col-list{
    li{
        display: block;
        margin-bottom: 20px;
        padding-left: 23px;
        position: relative;
        &::before{
            content:'\f105';
            font-size: 18px;
            font-family: 'icomoon';
            position: absolute;
            left: 0;
            top: -2px;
            color: $green;
        }
    }
    a{
        color:#b7c3c8;

    }
}
.footer__social-link{
    margin-bottom: 33px;
    li{
        & + li{
            margin-left: 7px;
        }
    }
    a{
        width: 28px;
        height: 28px;
    }
}
.facebook{
    background-image: url('../images/content/css_sprites.png');
    background-position: 28px 0;
}
.tweeter{
    background-image: url('../images/content/css_sprites.png');
    background-position: -28px -28px;;
}
.youtube{
    background-image: url('../images/content/css_sprites.png');
    background-position: 0 -28px;
}
.pinterest{
    background-image: url('../images/content/css_sprites.png');
    background-position: -28px 0;
}
.linkedin{
    background-image: url('../images/content/css_sprites.png');
    background-position: 0px 0;
}
.footer__form-title{
    color:#fff;
    font-size: 20px;
    padding-bottom: 18px;
}
.footer__form{
    position: relative;
    input{
        border: none;
        height: 40px;
        width: 100%;
        background-color: #2f3c43;
        padding: 0px 50px 0px 15px;
        display: block;
        color:#fff;
        &::placeholder{
            color:#697378;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        border: none;
        height: 40px;
        width: 45px;
        background-color: $green;
        cursor:pointer;
        &:before{
            content:'\f124';
            font-family: 'icomoon';
            font-size: 18px;
            color:#fff;
            position: absolute;
            top: 11px;
            left: 13px;
        }
    }
}
.footer__copy{
    padding: 25px 0;
    border-top: 1px solid #424d53;
    &-text{
        color:#7a8083;
        text-align: center;
    }
}
// end footer



